<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Book List</title>
</head>
<body>
    <h1>Books</h1>


    <form action="/search" method="get">
        <input type="text" name="author" placeholder="Search by author" />
        <input type="submit" value="Search" />
    </form>


    <a href="/add">Add Book</a>

    <table>
        <tr><th>Title</th><th>Author</th><th>Year</th><th>Price</th><th>Actions</th></tr>
        <tr th:each="book : ${books}">
            <td th:text="${book.title}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.publicationYear}"></td>
            <td th:text="${book.price}"></td>
            <td>
                <a th:href="@{/delete/{id}(id=${book.id})}">Delete</a>
                <a th:href="@{/edit/{id}(id=${book.id})}">Edit</a>

            </td>
        </tr>
    </table>
</body>
</html>
